<body class="container max-w-screen-2xl">
  <div class="flex flex-col justify-center items-center min-h-screen">
    <main class="flex justify-center items-center py-5 w-full">
      <div class="w-full">
        <form (ngSubmit)="submitForm()">
          <div class="flex justify-center items-center">
            <label for="username" class="text-md py-2">github.com/</label>
            <input id="username"
              class="py-2 px-4 bg-gray-200 text-gray-800 border-gray-300 rounded-l-md outline-none placeholder-gray-500 focus:bg-gray-100 w-1/4"
              type="text" name="username" placeholder="Enter GitHub Username (Press / to focus)"
              [formControl]="username" />
            <button type="submit"
              class="py-2 px-4 bg-gray-700 text-gray-100 font-semibold hover:bg-gray-600 rounded-r-md flex justify-between transition"
              [disabled]="!isFormValid" [ngClass]="{'cursor-not-allowed opacity-70': !isFormValid}">
              <ng-container *ngIf="isFormValid && showLoader; else elseTemplate">
                <div class="w-5 h-5 border-b-2 rounded-full animate-spin mr-2"></div>
                <div>Search</div>
              </ng-container>
              <ng-template #elseTemplate>
                Search
              </ng-template>
            </button>
          </div>
          <span *ngIf="hasError" class="flex justify-center items-center text-red-500 text-sm mt-3">
            {{ errors.api }}
          </span>
        </form>
      </div>
    </main>

    <section class="flex justify-evenly flex-1">
      <div *ngIf="profile && !hasError" class="flex justify-center items-center mt-5 gap-5 flex-col">
        <app-profile-card class="max-w-md md:w-full" *ngIf="githubStats && githubanguageStats" [profile]="profile"
          (receiveFollowers)="setFollowers($event)"></app-profile-card>
        <img class="max-w-md object-cover object-center" *ngIf="githubStats" src="{{ githubStats }}"
          alt="Your GitHub Stats" loading="lazy" />
        <img class="max-w-md object-cover object-center md:w-full" *ngIf="githubanguageStats"
          src="{{ githubanguageStats }}" alt="Your GitHub Top Languages Stats" loading="lazy" />
      </div>

      <div class="mt-5" *ngIf="followers?.length">
        <h3 class="text-center font-semibold text-purple-500 text-xl">Followers</h3>
        <app-table [users]="followers"></app-table>
        <app-pagination [records]="followers"></app-pagination>
      </div>
    </section>

    <footer class="mx-auto my-3 flex flex-col gap-y-1 text-sm">
      <app-link class="mt-2" [to]="'https://tailwindcomponents.com/u/ibraboussadjra'" [label]="'Profile Card by'"
        [author]="'IbraBoussadjra'">
      </app-link>

      <app-link [to]="'https://github.com/anuraghazra/github-readme-stats'" [label]="'GitHub stats by'"
        [author]="'Anurag Hazra'">
      </app-link>

      <app-link [to]="'https://tailwindcomponents.com/u/ibraboussadjra'" [label]="'Table by'" [author]="'Sufyan Farea'">
      </app-link>

      <app-link [to]="'https://tailwindcomponents.com/component/pagination-example'" [label]="'Pagination by'"
        [author]="'haynajjar'">
      </app-link>
    </footer>
  </div>
</body>
