<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
        <div class="w-full overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr
                        class="text-md font-semibold tracking-wide text-center text-gray-900 bg-gray-100 border-b border-gray-600">
                        <th class="px-4 py-3">Sr. No.</th>
                        <th class="px-4 py-3">Name</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr class="text-gray-700" *ngFor="let user of users; index as i">
                        <td class="px-4 py-3 text-center text-ms font-semibold border">{{ i+1 }}</td>
                        <td class="px-4 py-3 text-center border">
                            <div class="flex items-center justify-center text-sm">
                                <div class="relative w-16 h-16 mr-3 rounded-full md:block">
                                    <img class="object-cover w-full h-full rounded-full" src="{{ user?.avatar_url }}"
                                        alt="User's Avatar" loading="lazy" />
                                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                </div>
                                <div>
                                    <a class="cursor-pointer" href="{{ user?.html_url }}" rel="noopener norefferer"
                                        target="_blank">
                                        <p class="font-semibold text-black">{{ user?.login }}</p>
                                        <p class="text-xs text-gray-600">Developer</p>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>